*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fde616;
    color: #fff;
    overflow-x: hidden;
    margin: 0;
}
.container{
    background-color: #2f2e75;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    height: 100vh;
    padding: 50px;
}
.container.show-menu{
    transform: rotate(-20deg);
}
.container.show-menu + .main-menu li{
    transform: translateX(0);
    transition-delay: 0.3s;
}
.container.show-menu .circle{
    transform: rotate(-70deg);
}
.circle-box{
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle{
    background-color: #fde616;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}
.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}
.circle button:focus{
    outline: none;
}
.circle #open{
    left: 60%;
}
.circle #close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.content-box{
    max-width: 1000px;
    margin: 50px auto;
}
.content-box h1{
    margin: 0;
}
.content-box p{
    color: #fff;
    line-height: 1.5;
}
.content-box img{
    max-width: 100%;
}
.main-menu{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}
.main-menu ul{
    list-style: none;
    padding-left: 30px;
}
.main-menu ul li{
    text-transform: uppercase;
    color: #000;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
    cursor: pointer;
}
.main-menu ul li i{
    font-size: 20px;
    margin-right: 10px;
}
.main-menu ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}
.main-menu ul li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);
}